---
// src/components/bule.astro
// Bonhomme bule simple qui utilise les filtres thématiques globaux

import OptimizeImage from './optimize_image.astro';

export interface Props {
  className?: string;
  style?: string;
}

const { 
  className = '',
  style = ''
} = Astro.props;
---

<div 
  class={`bonhommes ${className}`}
  style={style}
>
  <OptimizeImage 
    src="/src/assets/loup500x500.webp"
    alt="loup bonhomme" 
    widths={[125]}
    class="bule-img theme-filtered"
    loading="lazy"
    transition:name="loup"
  />
</div>